<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: blueviolet;">
    <div class="container">
      <a class="navbar-brand fw-bold" style="font-size: 2rem;" href="/">BrowseBay</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active fw-semibold d-flex align-items-center gap-1 px-3 py-2 rounded-pill bg-white text-dark shadow-sm" 
               href="" 
               style="transition: 0.3s;">
               Home
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  