.hover-shadow {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
  }
  
  .hover-shadow:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }